[Unit]
Description=Optical Archive Gateway
Wants=network-online.target optical-archive-recorder.service
After=network-online.target optical-archive-recorder.service

[Service]
Type=simple
WorkingDirectory=/opt/optical-archive/gateway
Environment=OPTICAL_ARCHIVE_CONFIG_PATH=/etc/optical-archive/optical-archive.config.json
ExecStart=/usr/bin/versitygw burnbridge
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
