OPTICAL_ARCHIVE_CONFIG_PATH=/etc/optical-archive/optical-archive.config.json
OPTICAL_ARCHIVE_MOUNT_PATH=/mnt/optical-archive
OPTICAL_ARCHIVE_MOUNT_DEVICE=/dev/sr0
OPTICAL_ARCHIVE_MOUNT_REFRESH_COMMAND=/opt/optical-archive/bin/optical-archive-mount-refresh.sh "${OPTICAL_ARCHIVE_MOUNT_PATH}" "${OPTICAL_ARCHIVE_MOUNT_DEVICE}"
